:root {
  --facebook-black: #080808;
  --facebook-blue: #0572EF;
  --facebook-red: #DE3F4F;
  --facebook-white: #FFFFFF;
  --facebook-input-gray: #F1F2F5;
  --facebook-light-gray: #E5E6EB;
  --facebook-gray: #66676B;
  --facebook-line-gray: #CFD0D4;
  --facebook-gradient-gray: #6F6F7A;
  --menu-icon: red;
}